@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  text-align: center;
  background: rgba(255, 144, 14, 0.1);
}
.first-zone {
  margin: 0 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}
.logo {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.primary-btn {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.first-details {
  width: 862px;
  height: 225px;
  margin: 0 auto;
}
.first-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.banner-img {
  margin-top: 50px;
  width: 1440px;
  height: 700px;
  margin-bottom: 30px;
}
/* end of header style */
.second-section {
  display: flex;
  margin: 30px 301px;
  align-items: center;
}
.four-img {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, max-content);
}

.four-img img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}
.second-details {
  width: 537px;
  height: 304;
}
.quick-list {
  color: #727272;
}
.features {
  color: #ff900e;
}
.second-title {
  width: 468px;
  height: 106;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 20px;
}
.second-p {
  font-weight: 400;
  font-size: 16px;
  width: 537px;
  height: 78px;
}
