@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
:root {
  --black: #131313;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  width: 100%;
  text-align: center;
  background: rgba(255, 144, 14, 0.1);
}
.first-zone {
  margin: 0 20%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
ul {
  display: flex;
  gap: 8%;
}
ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1.3rem;
  color: #424242;
}

p {
  color: #727272;
  font-weight: 400;
  font-size: 1rem;
}
.logo {
  color: #131313;
  font-weight: 700;
  font-size: 3rem;
}
.primary-btn {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}

.first-details {
  width: 862px;
  height: 225px;
  margin: 0 auto;
}
.first-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.banner-img {
  margin-top: 50px;
  width: 100%;
  height: 60vh;
  margin-bottom: 30px;
  object-fit: contain;
}
/* end of header style */
.second-section {
  display: flex;
  margin: 30px 301px;
  align-items: center;
  gap: 50px;
}
.four-img {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 10px 10px;
}

.four-img img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}
.second-details {
  width: 537px;
  height: 304;
}
.quick-list {
  color: #727272;
}
.features {
  color: #ff900e;
}
.second-title {
  width: 468px;
  height: 106;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 20px;
}
.second-p {
  font-weight: 400;
  font-size: 16px;
  width: 450px;
  height: 78px;
  margin-bottom: 20px;
}
.third-section {
  margin: 100px 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.card {
  padding: 30px;
  width: 586px;
  height: 171px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.third-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 10px;
  border-left-style: solid;
  border-color: #ff900e;
  width: 468px;
  height: 106px;
  padding: 0 20px;
}
.third-description {
  width: 586px;
  height: 78px;
  line-height: 23px;
  margin-bottom: 30px;
}
h6 {
  margin-bottom: 10px;
  color: #131313;
  font-weight: 600;
  font-size: 20px;
}
.card p {
  line-height: 23px;
}
.third-img {
  position: relative;
}
.third-img img {
  height: 882px;
  width: 100%;
  object-fit: contain;
}
.bg-btn {
  position: absolute;
  top: 785px;
  left: -01px;
  width: 342px;
  height: 200px;
  background: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
  border: none;
}
p span {
  color: #ffffff;
}
/*----------------------
    end of third section
------------------------*/
.fourth-section {
  margin: 100px 240px;
  text-align: left;
}
.fourth-title {
  font-weight: 700;
  font-size: 45px;
  color: var(--black);
  margin-bottom: 10px;
}
.fourth-description {
  width: 542px;
  height: 52px;
  line-height: 26px;
}
/* ------------------------
    end of fourth section
---------------------------
        start fifth section     */
.fifth-section {
  margin: 100px 240px;
  display: flex;
  justify-content: space-around;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 241.83px;
  height: 241.83px;
}
.data:hover {
  border: 1px solid #ff900e;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    border-color: green;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: blue;
  }
  75% {
    border-color: green;
  }
  100% {
    border-color: blue;
  }
}
.data img {
  width: 45.22px;
  height: 45.22px;
}
/* end of fifth section*/
.last-section {
  text-align: center;
}
.last-details {
  width: 542px;
  height: 129px;
  margin: 0 auto;
}
.brand-imgs {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
footer {
  text-align: center;
  margin: 100px auto;
}
.footer {
  padding: 40px;
  text-align: center;
  height: 100px;
  margin: 100px 240px;
  background-color: #fff4e7;
  border-radius: 8px;
}
h6 {
  color: #424242;
  font-weight: 400;
  font-size: 20px;
}
/* extra section start */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: 0;
  height: 200px;
  padding: 50px;
  width: 809px;
  background: #fff4d6;
  margin: 20px auto;
}

.content-update {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}
input {
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  width: 275px;
  height: 48px;
}
.updates {
  text-align: center;
  margin-top: 100px;
}
/*-----------------------
     For small device
 -----------------------*/
@media only screen and (max-width: 576px) {
  * {
    display: inline-block;
  }
  .first-zone {
    display: block;
    margin: 0;
  }
  header {
    width: 1450px;
  }
  nav {
    flex-direction: column;
    flex-grow: 1;
  }
  ul {
    flex-direction: column;
  }
  .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .four-img {
    grid-template-columns: 1000px;
    grid-template-rows: 1000px;
    justify-items: center;

    /* gap: 20px 20px; */
  }
  .second-section {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .fourth-section {
    text-align: center;
    margin-left: 450px;
  }
  .four-img img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    margin: 0 100px;
  }
  .third-section {
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .cards {
    gap: 20px;
    align-items: center;
  }
  .fifth-section {
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .last-section {
    width: 100%;
  }
  .brand-imgs {
    flex-direction: column;
    row-gap: 100px;
    padding: 20px;
    justify-content: center;
  }
  .footer {
    margin-left: 400px;
  }
  .updates {
    margin-left: 400pxs;
  }
}
